[tool.poetry]
name = "speckle-blender"
version = "2.0.0"
description = "the Speckle 2.0 connector for Blender!"
authors = ["izzy lyseggen <izzy.lyseggen@gmail.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.7,<3.8"
bpy = "^2.82.1"
numpy = "^1.20.2"
specklepy = "^2.0.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
